<vg-player style="height: 50px;" id="media-controls" class="m-0 p-0 fixed-bottom" (onPlayerReady)="onPlayerReady($event)">
  <vg-buffering></vg-buffering>
  <vg-controls>
    <vg-play-pause></vg-play-pause>
    <vg-playback-button></vg-playback-button>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    <vg-mute></vg-mute>
    <vg-volume></vg-volume>
  </vg-controls>

  <audio #media [vgMedia]="media" preload="auto">
    <source *ngIf="stream != null" [src]="stream?.url" [type]="stream?.mediaFile?.contentType">
  </audio>
</vg-player>
